APP_NAME=Yourname
REDIS_URL=redis://redis:***/*
JOB_TTL_SECONDS=86400
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2
CELERY_TASK_TRACK_STARTED=true
CELERY_RESULT_EXPIRES=86400
CELERY_RESULT_KEYPREFIX=memo_
